<manifest package="com.bpawlowski.system"
		  xmlns:android="http://schemas.android.com/apk/res/android">
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
</manifest>
